html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
    list-style-type: 0 !important;
    list-style: 0 !important;
    text-decoration: 0 !important;
}

:root {
    font-family: "Nunito", Arial, sans-serif;
    font-size: 17px;
    line-height: 1.5;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    min-width: 360px !important;
    min-height: 100vh !important;
}

div.container {
    padding: 0.25rem !important;
    margin: 0.25rem !important;
    width: 360px !important;
}

h1.title-app {
    color: #bebebe !important;
    text-align: center;
    font-size: 1.4rem;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    .text-muted {
        color: #bebebe !important;
    }

    .text-apa {
        color: #292929 !important;
        font-family: 'Times New Roman', Times, serif;
        font-size: 14;
        line-height: 1.5;
        font-weight: 400;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        color: rgba(255, 255, 255, 0.87);
        background-color: #242424;
    }

    .text-muted {
        color: #999999 !important;
    }

    .text-apa {
        color: #ffffff !important;
        font-family: 'Times New Roman', Times, serif;
        font-size: 14;
        line-height: 1.5;
        font-weight: 400;
    }
}

